.breadcrum{
  display: flex;
  align-items: center;
  gap: 8px;
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 450;
  margin-left: 315px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
}