
.navbar {
  width: 100%;
  display: flex;
  margin-left: 0px;
  padding: 0px;
  box-shadow: 0 1px 3px -2px rgb(7, 75, 102);
  background: rgb(12, 125, 169);

}

.nav-logo {
  margin-left: 40px;
  display: flex;
  align-items: start;
  gap: 10px;
}

.nav-logo p {
  color: #300101;
  margin-top: 22px;
  font-size: 38px;
  font-weight: 600;
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  margin-left: 80px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.link:active {
  color: black;
}

.nav-menu li {
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
  font-weight: 500;
  color: white;
  transition-duration: 0.2s;
}

.nav-menu li:hover {
  transform: scale(1.2);
}

.hamburger-menu {
  display: none; 
  cursor: pointer;
  padding-right: 4px;
  z-index: 10;
  color: rgb(240, 234, 234);
}

.mobile-menu {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  position: absolute; /* Position the menu absolutely within its parent */
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background: linear-gradient(to bottom, black, gray); 
  color: rgb(250, 242, 242); 
  font-size: 36px;
  cursor: pointer; 
}

  .mobile-login-cart {
    padding: 24px 16px; 
    cursor: pointer; 
    color: rgb(250, 242, 242); 
    font-size: 36px; 
  }


.nav-login-cart {
  display: flex;
  align-items: center;
  margin-left: 380px;
  gap: 20px;
}

.nav-login-cart button {
  width: 100px;
  height: 40px;
  outline: none;
  border: 1px solid #12245f;
  border-radius: 75px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  background: rgb(117, 117, 204);
  cursor: pointer;
}

.nav-login-cart button:active {
  transform: scale(0.9);
  background: rgb(15, 15, 27);
}

.contact-us {
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

.contact-us:active {
  transform: scale(1.2);
  color: rgb(28, 28, 55);
}

.contact-us:hover {
  transform: scale(1.1);
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -55px;
  margin-left: 20px;
  border-radius: 12px;
  font-size: 14px;
  background: blueviolet;
  color: white;
}

/* Media queries for responsiveness */

@media (max-width: 1600px) {
  .nav-menu {
    display: flex; 
  }
  
  .hamburger-menu {
    display: none; 
  }
  .nav-login-cart {
    display: flex;
    align-items: center;
    margin-left: 430px;
    gap: 20px;
  }
}  

@media (max-width: 1500px) {
  .nav-menu {
    display: flex; 
  }
  
  .hamburger-menu {
    display: none; 
  }
  .nav-login-cart {
    display: flex;
    align-items: center;
    margin-left: 370px;
    gap: 20px;
  }
}  


@media (max-width: 1300px) {
  .nav-menu {
    display: flex; 
    margin-left: 80px;
  }
  
  .hamburger-menu {
    display: none; 
  }
  .nav-login-cart {
    display: flex;
    align-items: center;
    margin-left: 140px;
    gap: 40px;
  }
}


@media (max-width: 1220px) {
  .nav-menu {
    display: flex; 
  }
  
  .hamburger-menu {
    display: none; 
  }
  .nav-login-cart {
    display: flex;
    align-items: center;
    margin-left: 40px;
    gap: 40px;
  }
}


@media (max-width: 1050px) {
  .nav-menu {
    display: none; 
  }
  
  .hamburger-menu {
    display: block; 
    padding-left: 300px;
    padding-top: 30px;
  }
  .nav-login-cart {
    display: flex;
    align-items: center;
    margin-left: 40px;
    gap: 40px;
  }
}


@media (max-width: 930px) {
  .nav-menu {
    display: none; 
  }
  
  .hamburger-menu {
    display: block; 
    padding-left: 470px;
    padding-top: 30px;
  }
  .nav-login-cart {
    display: none;
    /* display: flex;
    align-items: center;
    margin-left: 90px;
    gap: 40px; */
  }
}

@media (max-width: 780px) {
  .nav-menu {
    display: none; 
  }
  
  .hamburger-menu {
    display: block; 
    padding-left: 330px;
    padding-top: 30px;
  }
  .nav-login-cart {
    display: none;
    /* display: flex;
    align-items: center;
    margin-left: 40px;
    gap: 20px; */
  }
}

@media (max-width: 670px) {
  .nav-menu {
    display: none; 
  }
  
  .hamburger-menu {
    display: block; 
    padding-left: 300px;
    padding-top: 30px;
  }

  .nav-login-cart {
    display: none;
  }
}

@media (max-width: 545px) {
  .nav-menu {
    display: none; 
  }
  
  .hamburger-menu {
    display: block; 
    padding-left: 150px;
    padding-top: 40px;
  }
}


