.checkout {
  margin: 100px 60px;
}

.error {
  color: red;
  font-size: 12px;
}

.checkout h2 {
  margin-top: 0px;
  text-align: center;
  font-size: 60px;
  margin-bottom: 40px;
  font-weight: 500;
  color: #555;
}


.inputBox {
  display: flex;
  margin-top: 20px;
  margin-bottom: 0px;
}


.inputBox input {
  width: 350px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}


.inputBox .pass {
  margin-left: 10px;
}


.lefty {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.checkout-left {
  width: 48%;
}

.checkout-left h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.checkout-left form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-left .form-group {
  display: flex;
  flex-direction: column;
}

.checkout-left .form-group label {
  font-size: 14px;
  margin-bottom: 5px;
}

.checkout-left .form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Order summary */
.checkout-right {
  width: 68%;
}

.checkout-right .cartitems-total {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
}

.checkout-right .cartitems-total h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.checkout-right .cartitems-total-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout-right .payment-methods {
  margin-top: 20px;
}

.checkout-right .payment-methods .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkout-right .payment-methods label {
  margin-left: 10px;
}

.checkout-right button {
  background: rgb(91, 179, 234);
  padding: 10px 20px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.checkout-right button:hover {
  background: rgb(80, 160, 210);
}


/* Responsive design for smaller screens */
@media (max-width: 1330px) {
  .checkout {
    margin: 100px ;
    margin-left: 100px;
  }
  .checkout-right {
    width: 108%;
  }
}

@media (max-width: 1250px) {
  .checkout {
    margin: 100px 40px;
  }
  .lefty {
    gap: 20px;
  }
  .checkout-right {
    width: 68%;
    margin-left: 100px;
  }

}

@media (max-width: 850px) {
  .checkout {
    margin: 100px 40px;
  }

  .inputBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }

  .inputBox .pass {
    margin-left: 0px;
  }

  .lefty {
    flex-direction: column;
  }

  .checkout-left {
    width: 100%;
    margin-bottom: 40px;
  }

  .checkout-right {
    width: 100%;
    margin-left: 0;
  }

  /* Adjustments for table */
  .order-history-table table {
    overflow-x: auto;
    display: block;
  }
  .order-history-table th,
  .order-history-table td {
    min-width: 40px; /* Adjust as needed */
    white-space: nowrap;
  }
}
