/* Popup.css */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-inner {
  position: relative;
  padding: 32px;
  width: 60%;
  max-width: 600px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(8, 53, 70, 0.8);
}

.pop-inner-logo{
  display: flex;
  flex-direction: row;
}

.pop-inner .pop-inner-logo img{
  width: 30%;
  height: 60%;
}

.pop-inner .pop-inner-thanks{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 600;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.ordered-products-summary {
  margin-top: 20px;
}

.ordered-product {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.ordered-product img {
  width: 50px;
  height: 50px;
  margin-right: 16px;
}

.ordered-product div {
  display: flex;
  flex-direction: column;
}

/* Responsive design for smaller screens */
/* @media (max-width: 700) {
  .pop-inner {
    width: 80%;
  }
}

@media (min-width:890px) and (max-width: 1300px) {
  .pop-inner .pop-inner-logo{
    display: inline-block;
  }
  
  .pop-inner .pop-inner-thanks{
    margin-top: -50px;
    margin-bottom: 10px;
    margin-left: -10px;

  }
} */