.productdisplay {
  width: 100%;
  display: flex;
  background-color: #e6e4e4;
}

.productdisplay-left {
  margin-left: 50px;
  gap: 17px;
}

.productdisplay-main-img {
  width: 70%;
  height: 70%;
  box-sizing: border-box;
  margin-top: 100px;
  margin-left: 10x;
  margin-bottom: 20px;
}

.productdisplay-right {
  margin: 0px 120px;
  margin-left: -60px;
  display: flex;
  flex-direction: column;
}

.breadcrum {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #a4a0a0;
  font-size: 16px;
  font-weight: 450;
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.productdisplay-right h1 {
  color: #3d3d3d;
  font-size: 35px;
  font-weight: 500;
}

.productdisplay-right-prices {
  display: flex;
  margin: 40px 0px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}

.productdisplay-right-price-old {
  color: #818181;
  text-decoration: line-through;
}

.productdisplay-right-price-new {
  color: #ff4141;
}

.productdisplay-right button {
  padding: 20px 40px;
  width: 180px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  color: rgb(21, 20, 20);
  background: #41d3ff;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.productdisplay-right button:disabled {
  background: red; 
  cursor: not-allowed; 
}

.productdisplay-right button:active {
  transform: scale(1.02);
  background: #919fa3;
}

.productdisplay-right-category {
  margin-top: 10px;
}

.productdisplay-right-category span {
  font-weight: 600;
}

.productdisplay-right-quantity {
  margin-top: 50px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center; 
}

.productdisplay-right-quantity label {
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.productdisplay-right-quantity input {
  width: 3rem;
  padding: 0.5rem;
  border: 2px solid #007BFF;
  border-radius: 4px;
  font-size: 1rem;
}

/* Message styles */
.message {
  color: red;
  font-weight: bold;
  margin-bottom: 20px;
}
.error-message {
  color: red;
}



@media (max-width: 639px) {
  .productdisplay {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
    margin: 0px;
  }

  .breadcrum {
    grid-column: 1 / -1; 
  }

  .productdisplay-left,
  .productdisplay-right {
    grid-column: 1 / -1; /* Span the full width */
    margin: 0;
    margin-left: 20px;
  }

  .productdisplay-main-img {
    width: calc(100% - 50px);
    height: calc(100% - 80px);
    margin-left: 15px;
    padding-top: 0px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 0px;
  }

  .productdisplay-right h1 {
    font-size: 25px;
  }

  .productdisplay-right-prices {
    font-size: 18px;
  }

  .productdisplay-right button {
    padding: 15px 20px;
    width: 160px; /* Full width of the container */
  }

  .productdisplay-right-quantity input {
    width: 2rem;
    padding: 0.3rem;
    font-size: 0.8rem;
  }
}

@media (min-width: 640px) and (max-width: 800px) {
  .productdisplay {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    margin: 0px;
  }

  .productdisplay-left,
  .productdisplay-right {
    grid-column: 1 / -1; /* Span the full width */
    margin: 0;
    margin-left: 20px;
  }

  .productdisplay-main-img {
    width: calc(100% - 140px);
    height: calc(100% - 150px);
    margin-left: 20px;
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 0px;
  }

  /* Other adjustments for text content */
  .productdisplay-right h1 {
    font-size: 30px;
  }

  .productdisplay-right-prices {
    font-size: 20px;
  }

  .productdisplay-right button {
    padding: 15px 20px;
    width: 160px;
  }

  .productdisplay-right-quantity input {
    width: 2.5rem;
    padding: 0.4rem;
    font-size: 0.9rem;
  }
}
