/* CSS for the sign-up form */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 87vh;
  background-size: cover;
}

.form_container {
  position: absolute;
  max-width: 50%; /* Adjust the width as needed */
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: #ffffff84;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  padding: 10px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
}

.form_container.active {
  opacity: 1;
  pointer-events: auto;
}


.form_container h3 {
  font-size: 25px;
  text-align: center;
}

.input_container {
  display: flex;
  justify-content: space-between;
}

.right_input,
.left_input {
  width: 44%; /* Adjust the width as needed */
}

.input_box {
  position: relative;
  margin-top: 25px;
  height: auto;
}

.input_box input {
  height: 50px;
  width: 100%;
  border: 2px solid #000;
  border-radius: 8px;
  outline: none;
  padding: 0 32px;
}

.input_box i {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.input_box input:focus ~ i {
  color: #1500ff;
}


.form_container button {
  background-color: #1500ff;
  color: #fff;
  border: none;
  outline: none;
  margin-top: 30px;
  margin-left: 190px;
  padding: 12px;
  border-radius: 8px;
  width: 50%;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
}

.form_container button:hover {
  background-color: #0f0398;
}

.signup {
  font-size: 14px;
  margin-top: 12px;
  text-align: center;
}
