body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
}

.form_container {
  position: relative;
  max-width: 500px; 
  width: 90%;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  opacity: 1;
  pointer-events: auto;
}

.form_container h3 {
  font-size: 25px;
  text-align: center;
}

.input_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input_container .right_input,
.input_container .left_input {
  width: 100%;
}

.input_box {
  position: relative;
  margin-top: 25px;
}

.input_box input {
  height: 50px;
  width: 100%;
  border: 2px solid #000;
  border-radius: 8px;
  outline: none;
  padding: 0 32px;
}

.input_box i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 18px;
}

.toggle-password {
  position: absolute;
  right: 20px;
  top: 17px;
  cursor: pointer;
  color: black;
}


.form_container button {
  display: block;
  background-color: #1500ff;
  color: #fff;
  border: none;
  outline: none;
  margin: 30px auto 0;
  padding: 12px;
  border-radius: 8px;
  width: 50%;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
}

.form_container button:hover {
  background-color: #0f0398;
}

.signup {
  font-size: 14px;
  margin-top: 12px;
  text-align: center;
}

@media (min-width: 600px) {
  .input_container .right_input,
  .input_container .left_input {
    width: 48%;
  }
}
