
.section-box{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  height: 100vh;
  background-size: cover;
}



.Section_top{
  width: 75%;
  display: flex;
  height: 80vh;
  padding: 0px 140px;
  margin-bottom: 70px;
  margin-top: 50px;
  margin-left: 180px;
  font-family: sans-serif;
  overflow: hidden;
  position: relative;
  background-image: url('../Assets/background/banner-03.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  animation: change 10s infinite ease-in-out;
}

.content{
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.content h1{
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  font-style: oblique;
}
.content h2{
  color: #111;
  font-size: 30px;
  font-weight: 700;
}
.content button{
  background: #083a60;
  padding: 12px 27px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}
.content button:hover{
  background: #232526;
  /* color: #f4fafb; */
}

@keyframes change{
  10%
  {
      background-image: url('../Assets/background/banner-1.jpg');
  }
  30%
  {
      background-image: url('../Assets/background/young-adults-embrace-fashionable-city-night.jpg');
  }
  50%
  {
      background-image: url('../Assets/background/Well-Dressed-Man.jpg');
  }
  70%
  {
      background-image: url('../Assets/background/shopping-single.jpg');
  }
  90%
  {
      background-image: url('../Assets/background/sport-fashion-with-empty-copy-space-happy-sporty-male-smiling.jpg');
  }
}

@media (max-width: 840px) {
  .section-box {
    height: 60vh;
  }
  .Section_top {
    width: 100%;
    height: 50vh;
    padding: 0 20px;
    margin: 20px;
  }
  .content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .content h1, .content h2 {
    font-size: 24px;
  }
  .content button {
    font-size: 16px;
  }

  @keyframes change{
    10%
    {
        background-image: url('../Assets/background/banner-1-crop.jpg');
    }
    30%
    {
        background-image: url('../Assets/background/banner-2-crop.jpg');
    }
    50%
    {
        background-image: url('../Assets/background/blog-2.jpg');
    }
    70%
    {
        background-image: url('../Assets/background/shopping-single-crop.jpg');
    }
  }
}

@media (min-width: 841px) and (max-width: 1023px) {
  .section-box {
    height: 80vh;
  }
  .Section_top {
    width: 100%;
    height: 60vh;
    padding: 0 40px;
    margin: 30px;
  }
  .content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .content h1, .content h2 {
    font-size: 30px;
  }
  .content button {
    font-size: 16px;
  }
}
