

.productdisplay {
  /* width: 100%; */
  display: flex;
  margin: 90px 120px;
  background-color: #e6e4e4;
  
}

.productdisplay-left{
  display: flex;
  gap: 17px;
}

/* .productdisplay-img-list{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.productdisplay-img-list img{
  height: 163px;
} */

.productdisplay-main-img{
  box-sizing: border-box;
  margin-top: 180px;
  /* width: 330px;
  height: 50px; */
}

.productdisplay-right{
  margin: 0px 110px;
  display: flex;
  flex-direction: column;
}

.breadcrum{
  display: flex;
  align-items: center;
  gap: 8px;
  color: #a4a0a0;
  font-size: 16px;
  font-weight: 450;
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.productdisplay-right h1{
  color: #3d3d3d;
  font-size: 35px;
  font-weight: 500;
}

.productdisplay-right-star{
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}

.productdisplay-right-prices{
  display: flex;
  margin: 40px 0px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}

.productdisplay-right-price-old{
  color: #818181;
  text-decoration: line-through;
}

.productdisplay-right-price-new{
  color: #ff4141;
}

.productdisplay-right-size h1{
  margin-top: 55px;
  color: #656565;
  font-size: 20px;
  font-weight: 600;
}

.productdisplay-right-sizes {
  display: flex;
  margin: 30px 0px;
  gap: 20px;
}

.productdisplay-right-sizes div {
  padding: 18px 24px;
  background: #fbfbfb;
  border-radius: 3px;
  cursor: pointer;
}

.productdisplay-right button{
  padding: 20px 40px;
  width: 180px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  color: rgb(21, 20, 20);
  background: #41d3ff;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.productdisplay-right-category{
  margin-top: 10px;

}

.productdisplay-right-category span{
   font-weight: 600; 
}

/* Custom styles for the quantity input */
.productdisplay-right-quantity {
  margin-top: 50px;
  margin-bottom: 1rem; /* Adds spacing below the quantity input */
  display: flex; /* Align the label and input inline */
  align-items: center; /* Vertically align the label and input */
}

.productdisplay-right-quantity label {
  margin-right: 0.5rem; /* Adds spacing between the label and input */
  font-weight: bold; /* Make the label text bold */
  font-size: 1.2rem; /* Increase the font size of the label */
}

.productdisplay-right-quantity input {
  width: 3rem; /* Width of the quantity input */
  padding: 0.5rem; /* Padding inside the input field */
  border: 2px solid #007BFF; /* Blue border color for visibility */
  border-radius: 4px; /* Rounded corners */
  font-size: 1rem; /* Font size for the input */
}

